PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=erestribusi_db
JWT_SECRET=erestribusi_lumajang_secret_key_2026
ELASTICSEARCH_NODE=

# ASPI SNAP Payment Gateway Configurations
SNAP_BASE_URL=https://sandbox.bankjatim.co.id
SNAP_CLIENT_KEY=your_client_key_here
SNAP_CLIENT_SECRET=your_client_secret_here
SNAP_PARTNER_SERVICE_ID=88888
SNAP_MERCHANT_ID=DLH_LUMAJANG_01
SNAP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
SNAP_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
